* {
    margin: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

h1 {
    font-size: 1.7rem;
    color: #1d2e36;
}

h2 {
    font-size: 1.5rem;
    margin: 20px;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    background-image: url("./img/eiffel2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    height: 100vh;
}

header img {
    width: 250px;
    margin: 20px;
    transition: transform 0.3s;
}

header img:hover {
    transform: scale(1.1);
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 0;
}

header nav ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
}

header nav ul a:hover {
    text-decoration: underline;
    color: #fad69b;
}

header ul li {
    list-style-type: none;
    margin-right: 60px;
}

main {
    padding: 15px;
    background-color: #F2F2F2;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

footer {
    display: column;
    justify-content: center;
    align-items: center;
    background-color: #1d2e36;
    padding: 5px 10px;
}

footer img {
    height: 100px;
    padding-right: 20px;
}

footer ul {
    padding: 0;
    margin: 10px 0;
}

footer ul a {
    text-decoration: none;
    color: #ffffff;
}

footer ul li {
    list-style-type: none;
    margin-right: 20px;
}

.nav-footer-main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


div#viaje-conosco.nav-footer a:hover {
    color: #fad69b;
    text-decoration: underline;
}

#viaje-conosco {
    text-align: left;
}

#siga-nos {
    text-align: left;
}

div#siga-nos.nav-footer ul {
    display: column;
}

div#siga-nos.nav-footer ul li {
    display: flex;
}

div#siga-nos.nav-footer a:hover {
    color: #b0566b;
    text-decoration: underline;
}

.nav-footer img {
    height: 20px;
    margin: 0px;
    padding-right: 10px;
    padding-top: 5px;
}

.nav-footer span {
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

address {
    display: flex;
    justify-content: center;
}

address a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}

address a:hover {
    color: #477fae;
    text-decoration: underline;
}

hr {
    width: 100%;
    margin: 0;
    height: 1px;
    border: none;
    background-color: #ffffff;
}

div.copy {
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0;
    padding: 0;
}

span#copyright {
    color: #ffffff;
    font-weight: 100;
    font-size: 12px;
}

/* cards destinos */
section {
    display: flex;
    justify-content: space-between;
}

.destinos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 20px auto;
}

article {
    width: calc(25% - 20px); /* Define 4 cards por linha em telas grandes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

article img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

article button{
    justify-content: flex-end;
}

article img:hover {
    scale: 1.1;
    transition: scale 0.3s;
}

.destinos article h3 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 0;
    width: 100%;
    border: 1px;
    background-color: #607D8B;
    font-size: 1.5rem;
    flex: 1;
}

.card-texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 16px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ffffff;
    height: 250px;
}

p {
    /* display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;*/
    padding: 4px;
    font-size: 0.9rem;
    /* border: 1px solid lightgray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ffffff; */
}

button {
    display: block;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 16px;
    padding: 4px 8px;
    margin-top: 12px;
    height: 2rem;
}

button a {
    text-decoration: none;
    font-weight: 500;
    color: #1d2e36;
}

button:hover {
    background-color: #607D8B;
    border-width: 1px;
    border-color: #1d2e36;
}

button:hover a {
    color: #ffffff;
}



/* Elementos principais e responsividade inicial */
.hamburger {
    display: none; /* Oculto por padrão */
    flex-direction: column;
    cursor: pointer;
    position:absolute;
    right: 20px; /* distancia da direita */
    padding: 10px; /* espaço interno ao redor do ícone */
    z-index: 2000; /* garante que fique acima de outros elementos */
    /* background-color: rgba(51, 51, 51, 0.3); /* fundo transparente opcional */
    /* border-radius: 8px; bordas arredondadas */ */
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 2px;
}

/* Estilo base para o menu */
.menu.open {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.menu {
    /* position: absolute; */
    bottom: 10px; /* Posiciona o menu 10px acima do final do header */
    right: 10px; /* Posiciona o menu 10px para a esquerda a partir da borda direita */
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

/* Estilos para os links */
.menu ul {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 5px;
    margin: 12px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}


/* Media queries para responsividade */

/* Estilos para telas médias */
@media (max-width: 1024px) {
    article {
        width: calc(50% - 20px); /* 2 cards por linha */
    }

    header {
        background-size: cover;
        height: 60vh; /* Altura menor */
    }
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
    /* Exibe o ícone de hambúrguer e ajusta o menu */
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        /* position: absolute; */
        /* top: 0;
        left: 0; */
        flex-direction: column;
        width: 100%;
        z-index: 1000;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.3); /* Fundo transparente */
    }

    .menu ul {
        /* flex-direction: column;
        width: 100%;*/
        /* align-items: center; */
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        /* width: 100%;
        text-align: left; */
    }

    .menu ul li a {
        display: column;
        width: 100%;
        padding: 5px 10px;
        color: #fff;
        font-size: 1rem;
    }

    .menu.open {
        display: column;
    }

    footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    .nav-footer, address, .copy {
        width: 100%;
        margin: 10px 0;
    }

    .nav-footer ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-footer ul li {
        margin: 10px 0;
    }

    .card-texto {
        height: auto;
    }
}

/* Estilos para telas muito pequenas */
@media (max-width: 600px) {
    article {
        width: 100%; /* 1 card por linha */
    }

    header {
        background-size: cover;
        height: 50vh; /* Altura menor */
    }

    footer {
        font-size: 0.8rem;
    }

    header img {
        display: none;
        padding-bottom: 12px;
    }
}
