* {
    margin: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url("./img/eiffel2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 904px;
}


header img {
    width: 350px;
    height: auto;
    padding: 0;
    margin: 40px;
}


header nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 0;
}

header nav ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0;

}

header nav ul a:hover {
    text-decoration: underline;
    color: #fad69b;
}

header ul li {
    list-style-type: none;
    margin-right: 60px;

}

body {
    margin: 0;
    
}

main {
    padding: 40px;
}

footer {
    background-color: #1d2e36;
    display: flex;
    justify-content: space-between;
}

footer img {
    height: 150px;
    width: auto;
    padding: 10px;
    margin-left: 80px;
}

footer ul {
    width: 100%;
    padding: 0;
}

footer ul a {
    text-decoration: none;
    color:#ffffff;


}
footer ul li {
    list-style-type: none;
    margin-right: 20px;
}

.nav-footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 10px 40px;
}

.nav-footer {
    padding-top: 10px;
    margin-right: 60px;
}

div#viaje-conosco.nav-footer a:hover {
    color: #fad69b;
    text-decoration: underline;

}

div#siga-nos.nav-footer {
    margin: 0;
    align-items: end;
}


div#siga-nos.nav-footer ul li {
    display: flex;
}

div#siga-nos.nav-footer a:hover{
    color: #b0566b;
    text-decoration: underline;
}


.nav-footer img {
    height: 20px;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 2px;
    padding: 0;
}
.nav-footer span {
    color:#ffffff;
    font-weight: bold;
}

address {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

address a {
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
    font-style: italic;
}

address a:hover{
    color:#477fae;
    text-decoration: underline;
}

/* cards destinos */

section {
    display: flex;
    justify-content: space-between;
}

.destinos {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 10px;

}

article {
    align-items: start;
    margin-bottom: 10px;
    padding-left: 16px;
    width: 50%;
    
}


article img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

.destinos h3 {
    background-color: #607D8B;
    color: #ffffff;
    padding-left: 30px;
    margin-top: 0;
    
}

h1 {
    font-size: 2rem;
    color:#1d2e36;
    font-family:
}

h2 {
    font-size: 1.5rem;
    margin: 20px;
    font-weight: 500;
}


h3 {
    font-size: 1.5em;
}

p {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: lightgray;
    border-radius: 5px;
    font-size: 16px;
    padding: 4px 8px;
    margin-left: 10px;
    margin-bottom: 10px;

}

button a {
    text-decoration: none;
    font-weight: 500;
    color:#1d2e36;
}

button:hover {
    background-color: #607D8B;
    border-width: 1px;
    border-color: #1d2e36;
}

button:hover a {
    color:#ffffff;
}

span {
    color:#ffffff;
    font-weight: 100;
}